  /* ----------------------- */
  /* ----------ALL---------- */
  /* ----------------------- */

*{
    padding:0;
    margin:0;
  }

  
html, body {
    font-family: "Rockwell",Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
    font-size: 15px;
    width: 100%;
    overflow: auto;
  }

  .header .titre-header
  {
    display: flex;
    justify-content: center;
    padding: 2%;
  }

  .header-menu {
    background-color: #333;
    font-size: 15px;
  }
  
  .header-menu a {
    color: #fff;
    text-decoration: none;
  }
  
  .header-menu a:hover {
    color: #ccc;
  }
  
  .header-menu .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .header-menu .navibar {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navibar li
  {
    width: max-content;
    
  }
  .header-menu .navibar li {
    display: inline-block;
    padding: 15px;
    position: relative;
  }
  
  .menu-dropdown:hover .droppedMenu {
    display: block;
    position: absolute;
  }
  
  .droppedMenu a {
    display: block;
    width: max-content;
  }
  
  .droppedMenu {
    display: none;
    background-color: #333;
  }
  
  .header
  {
    text-align:center;
    background-color: lightblue;
  }

  footer {
    position : absolute;
    margin-bottom : 0;
    width: 100%;
    height: 5rem;
    background-color: lightblue;
    text-align: center;
  }

  #IndexFooter
  {
    position: fixed;
    bottom: 0;
    left: 0;
  }

  #center-submit
{
  justify-content: center;
}

#submit-id
{
  padding: 2px 15px 2px 15px;
}
  
  /* ----------------------- */
  /* ---------INDEX--------- */
  /* ----------------------- */

  .form-index
  {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin : 10% auto;
    width:fit-content;
    border : 4px solid black;
    border-radius: 20px;
    padding : 20px;
    font-size: 20px;
  }

  .inputBox
  {
   
    padding:5px;
    text-align:left;
    white-space: nowrap;
  }

  /* ----------------------- */
  /* ---------JOUEUR-------- */
  /* ----------------------- */

.tableau {
  border: 1px solid black;
  padding:2%;
  border-spacing: 0;
  font-size: 20px;
}

.tableau th, .tableau td {
  border: 1px solid black;
  padding-inline: 10px;
  text-align: center;  
}

.photo
{
  max-width: 200px;
}

  /* ----------------------- */
  /* ----------MENU--------- */
  /* ----------------------- */
  
.Joueur, .Match
{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 20px;
}
.tab{
  border: 8px solid black;
  height: 200px;
  margin : 0 auto 2% auto;
  font-size: 1em;
  border-style:groove;
  border-collapse:collapse;
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 20px;
}

.liste-element td,th{
  border: 1px solid black;
  padding: 15px;
}

.label
{
  color: red;
  font-size: 1.5em;
  
}

.flex-content{
  display:flex;
  flex-direction: row;
  width: 100%;
  padding-top: 2%;
  padding-bottom:2%;
  justify-content: center;
  text-align: center;
}

  /* ----------------------- */
  /* -----Nouveau Joueur---- */
  /* ----------------------- */

.form-nouveau
{
  display: flex;
  padding : 15px;
  margin: 8% 30% 8% 30%;
  border: 4px solid black;
  width: 40%;
  height:auto;
  border-radius: 15px;
  font-size: 20px;
}

.form-lines
{
  display:flex;
  flex-direction: column;
  padding: 8px;
  justify-content: space-between;
}

#submit-id
{
  padding: 2px 15px 2px 15px;
}

#image
{
  padding: 10px;
}

#commentaire
{
  width:100%;
  height: 20px;
}

  /* ----------------------- */
  /* ------insertIntoDB----- */
  /* ----------------------- */

  .msgContainer
  {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    font-size: 20px;
  }

  .msgRetour
  {
    border: 4px solid black;
    border-radius: 15px;
    width: fit-content;
    font-size: 20px;
    padding: 2%;
  }

  /* ----------------------- */
  /* ------Match----- */
  /* ----------------------- */

  .tableau-match {

    padding:2%;
    border-spacing: 0;
    margin-top: 30px;
    text-align: center;
    margin: 8% auto 8% auto;
    font-size: 20px;
  }

  /* ----------------------- */
  /* ------Evaluation----- */
  /* ----------------------- */


  .selection {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 8% 30% 8% 30%;
    font-size: 20px;
  }

  .selection p {
    margin: 0;
    font-size: 1.2em;
  }
  
  #select {
    margin-left: 10px;
    font-size: 1em;
    padding: 5px;
  }

/* ----------------------- */
/* ------Selection----- */
/* ----------------------- */

.formMatch {
  margin: 0 auto; /* pour centrer horizontalement */
  margin-top: 40px;
  width: 50%; /* pour définir la largeur du formulaire */
  padding: 2%; /* pour ajouter un espacement intérieur */
  text-align: center; /* pour centrer les éléments de formulaire */
  box-sizing: border-box; /* pour inclure les bordures et les padding dans la dimension du formulaire */
  border: 1px solid rgb(0, 0, 0); /* pour ajouter une bordure */
  font-size: 1.5em; /* pour augmenter la taille des polices */
}

.formMatch input[type="submit"] {
  background-color: #4CAF50; /* pour changer la couleur de fond */
  color: white; /* pour changer la couleur du texte */
  padding: 16px 32px; /* pour ajuster la taille du bouton */
  text-align: center; /* pour centrer le texte du bouton */
  text-decoration: none; /* pour enlever la décoration de texte */
  display: inline-block; /* pour afficher le bouton sur une ligne */
  font-size: 1.2em; /* pour augmenter la taille de la police */
  margin: 4px 2px; /* pour ajuster la distance entre le bouton et les autres éléments */
  -webkit-transition-duration: 0.4s; /* pour animer les transitions */
  transition-duration: 0.4s;
  cursor: pointer; /* pour changer le curseur de la souris */
  border-radius: 8px; /* pour ajouter des bords arrondis */
  border: none; /* pour enlever la bordure */
}

#buttonFormMatch
{
    background-color: #4CAF50;
    color: white;
    padding: 16px 32px;
    font-size: 1.2em;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    border: none;
}

.formMatch h1 {
font-size: 1.5em; /* pour augmenter la taille de la police */
text-align: center; /* pour centrer le titre */
color: #cf0202; /* pour changer la couleur du titre */
margin-bottom: 20px; /* pour ajouter de l'espacement en dessous du titre */
}

.formContainer {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}


#Match {
width: 1
00%;
}

.button-s{
margin-left:300px;
margin-top: 80px;
height: 40px;
width: 200px;
color: green;
}

.button-a{
margin-left:300px;
margin-top: 80px;
height: 40px;
width: 200px;
color: #ff0000;
}

.player-select-container {
width: 25%;
padding: 12px 20px;
margin-left: 30px;
margin-top: 30px;
display: flex;
align-items: center;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

.titulaire{
width: 100px;
float: right;
margin-left: 10px;
}

.player-select {
width: 30%;
margin-left: 10px;
}